<h5>All Expenses</h5>
<div class="pt-4">
  <div id="chart">
    <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [labels]="chartOptions.labels!"
      [responsive]="chartOptions.responsive!"></apx-chart>

    <div>
      <div class="row justify-content-evenly text-center">
        <div class="col-3"><small> Daily</small> <br> <span class="h5">$573.12</span> </div>
        <div class="col-3"><small> Weekly</small> <br> <span class="h5">$4,791</span> </div>
        <div class="col-3"><small> Monthly</small> <br> <span class="h5">$19,112</span> </div>
      </div>
    </div>
  </div>
</div>