#card{
    height: 135px;
    width: 240px;
    background-color: #4747d5;
    border-radius: 10px;
    padding: 20px;
    #chip{
        height: 40px;
        width: 50px;
         border-radius: 10px;
       
        background-color: #FFBF00;
    }
}