<div class="container-md	">
  <div class="row justify-content-between">
    <h2>Dashboard</h2>
    <!-- Main Content -->
    <div class="col-8">
      <!-- Four Cards  -->
      <div class="row justify-content-center mb-3">
        <app-top-four-cards></app-top-four-cards>
      </div>
      <!-- Graphs -->
      <div class="row justify-content-around mt-4 shadow p-3 mb-5 bg-body-tertiary rounded">
      <!-- Line -->
        <div class="col-6 "><app-finance-line-graph></app-finance-line-graph></div>
        <!-- Donut -->
        <div class="col-4"><app-all-expenses-donut></app-all-expenses-donut></div>
      </div>
      <!-- Table -->
      <div class="row shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="col"><app-transaction-grid></app-transaction-grid></div>
      </div>
    </div>
    <!-- Right Sidebar -->
    <div class="col-3">
     <!-- My cards -->
      <div class="row shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="col-12">
          <!-- ATM Card -->
          <h5>My Card</h5>
          <div class="row p-3 mb-5 mt-4 mb-5">
            <div class="col-12">
              <div id="card">
                <div id="chip"></div>
              </div>
            </div>
          </div>
          <!-- Balance -->
          <div class="row p-3 shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="col-12">
              <h6 class="text-secondary">Your Balance</h6>
              <div class="row justify-content-evenly text-center">
                <div class="col-4">
                  <h4>$2190.19</h4>
                </div>
                <div class="col-4 text-success"><i class="bi bi-arrow-up-short"></i> 9.14</div>
                <div class="col-4 text-danger"><i class="bi bi-arrow-down-short"></i> 8.39</div>
              </div>
              <hr>
              <div class="row">
                <div class="col-6">
                  <small>Currency</small><br>
                  <h6 class="mt-2">USD / US Dollar</h6>
                </div>
                <div class="col-6">
                  <small>Status</small><br>
                  <h6 class="mt-2">Active</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- Add new card -->
              <div class="row shadow p-3 mb-5 bg-body-tertiary rounded">
                <div class="col-12 text-center my-4">
                  <div class="d-grid gap-2 col-12 mx-auto">
                    <button class="btn btn-primary" type="button">+ Add New Card</button>
                  </div>
                  <!-- <button class="btn btn-primary">+ Add New Card</button> -->
                </div>
              </div>


        </div>
      </div>
      <!-- Quick transfer -->
      <div class="row shadow p-3 mb-5 bg-body-tertiary rounded">
        <!-- Quick transfer -->
        <div class="row">
          <h5>Quick transfer</h5>
          <div class="col-12">
            <div class="row justify-content-evenly my-3">
              <!-- For now showing hardcoded images -->
              <div class="col-1 text-start"><img style="height: 30px;" src="../assets/user (1).png" alt=""></div>
              <div class="col-1 text-start"><img style="height: 30px;" src="../assets/user (1).png" alt=""></div>
              <div class="col-1 text-start"><img style="height: 30px;" src="../assets/user (1).png" alt=""></div>
              <div class="col-1 text-start"><img style="height: 30px;" src="../assets/user (1).png" alt=""></div>
              <div class="col-1 text-start"><img style="height: 30px;" src="../assets/user (1).png" alt=""></div>
              <div class="col-1 text-start"><img style="height: 30px;" src="../assets/user (1).png" alt=""></div>
            </div>
            <div class="row my-3">
              <div class="col">
                <div class="my-3">
                  <h6>Card Numbar</h6>
                  <input type="text" class="form-control" placeholder="0818 7183 0713 2514                    VISA">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-between">
                  <button class="btn btn-primary me-md-2 px-2" type="button">Send Money</button>
                  <button class="btn btn-light px-2" type="button">Save as Draft</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>